tinkermachine.xyz {
        # Set this path to your site's directory.
        root * /usr/share/caddy

        # Enable the static file server.
        file_server
}

http://webhook.tinkermachine.xyz {
        reverse_proxy localhost:5000
}
