/* Sakura.css v1.3.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 * Refer: https://unpkg.com/sakura.css@1.3.1/css/sakura-vader.css, https://www.cssbed.com/sakura-vader/
 * Colour palatte: https://mycolor.space/?hex=%2383BD75&sub=1
 * Inspiration: https://hanki.dev/new-blog-design/
 */
/* Body */
html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
    font-size: 2rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #d9d8dc;
    background-color: #191919;
    padding: 13px;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2.00em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

small,
sub,
sup {
    font-size: 75%;
}

hr {
    border-color: #83BD75;
}

/* changed */
a {
    text-decoration: none;
    color: #83BD75;
}

a:hover {
    color: #68edcb;
    border-bottom: 2px solid #d9d8dc;
}

ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid #eb99a1;
    margin-bottom: 2.5rem;
    background-color: #40363a;
}

blockquote p {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
    background-color: #40363a;
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #3f4a3c;
    white-space: pre-wrap;
}

pre>code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}

/* Tables */
table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid #40363a;
}

/* Additional Custom CSS */
.title {
    color: #eee;
    text-shadow: 1px 1px 0 #4f8743, 2px 2px 0 #4f8743, 3px 3px 0 #4f8743, 4px 4px 0 #4f8743, 5px 5px 0 #4f8743, 6px 6px 0 #4f8743, 7px 7px 0 #4f8743, 8px 8px 0 #4f8743;
    font-size: 0.9em;
}

nav a {
    margin-right: 12px;
}

ul.blog-posts {
    padding-top: 20px;
}

ul.blog-posts li a:visited {
    color: #587b98;
}